.footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 54px 56px 54px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $base-color;
    }
    &__address {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
    &__phone {
        margin-top: 36px;
        display: block;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 212px;
        margin: 0 auto;
        margin-top: 36px;  
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 100%;
        &:hover {
            box-shadow: 0px 0px 40px 20px gold;
        }
    }
}