.review {
    padding-bottom: 49px;
    &__item {
        display: flex;
        margin-top: 60px;
    }
    &__img {
        max-width: 169px;
        max-height: 169px;
    }
    &__text {
        margin-left: 60px;
        padding-right: 60px;
    }
    &__header {
        color: #0D0D0D;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }
    &__subtitle {
        color: rgb(100, 100, 100);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
    }
    &__descr {
        color: #0D0D0D;
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
    }
}